@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 210, 210, 255;
    --background-end-rgb: 210, 210, 255;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.header-background {
  position: absolute;
  width: 100%;
  height: 320px;
  top: 0;
  left: 0;
  z-index: -1;
}

main {
  overflow-wrap: normal;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: large;
  min-height: 80vh;
}


.slideshow-image {
  width: 70vw;
  height: 70vh;
  overflow: hidden;
}

.slideshow-image img {
  object-fit: cover;
  position: absolute;
  width: 70vw;
  height: 70vh;
  transition: all .5s ease-in-out;
}

.active {
  z-index: 1;
  opacity: 1;

}

.slideshow-button {
  background: linear-gradient(#878787, #9198e5, #878787);
  width:6.4vw;
  height: 70vh;
  cursor: pointer;
}

.current-image-icon {
  cursor: pointer;
  margin: 5px;
  background-color: #878787;
  width: 15px;
  height: 15px;
  z-index: 3;
  border-radius: 50%;
  transition: all 0.5s ease;
}
.current-image-icon-d {
  cursor: pointer;
  margin: 5px;
  background-color: #FFFFFF;
  width: 15px;
  height: 15px;
  z-index: 3;
  border-radius: 50%;
  transition: all 0.5s ease-in;
}

.current-image-icon:hover  {
  border-style: inset;
  border-color: black;
  border-width: 8px;
  border-radius: 50%;
}
.current-image-icon-d:hover  {

  border-style: inset;
  border-color: lightgray;
  border-width: 8px;
  border-radius: 50%;
}

.main-text {
  display: flex;
  align-items: center;
  justify-content: center;
  color:gray;
}
.main-text h2 {
  font-family: sans-serif;
  font-weight: 800;
  color: black;
  margin-bottom: 1rem;
}
.main-text p {
  font-weight: 600;
  margin: 10px 0px;
}
.main-figure {
  color: #070707;
  font-style:italic;
  font-size: 1rem;
  margin: 1rem 0;
}
.main-figure-image {
  border-radius: 1rem;
}

.main-figure figcaption {
  text-align: right;
}

.ang-figcaption {
  color: #070707;
  font-style:italic;
  font-size: 1rem;
  text-align: right;
}